.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    width: 100%;
    background-color: #DC1E0F;
    height: 350px;
    margin-top: 150px;
}

.containerFooter__caja1,
.containerFooter__caja2,
.containerFooter__caja3,
.containerFooter__caja4 {
    display: flex;
    height: auto;   
    width: 25%;
    padding: 30px 20px;
    
}

.containerFooter__caja1 {
    //border: green 3px solid;
    flex-direction:row;
    flex: 1 1 auto;
    
}

.containerFooter__caja1__nav-item { 
   align-self: center;
   color:white;
   gap: 10px;
}

.containerFooter__caja1__nav-itemLogo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.containerFooter__caja1__nav-itemSocial{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.containerFooter__caja1-btn {
    display: block;
    padding: 15px;
    margin-top: 20px;
    margin-left: 0px;
    width: auto;
    line-height: auto;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color:#DC1E0F;
    border-radius: 5px;


}

.containerFooter__caja2,
.containerFooter__caja3,
.containerFooter__caja4

{
    flex-direction: column;
    color: white;
    line-height: 2;
    
}

.containerFooter__caja2-list{
    list-style-type:none;
    //line-height: 2;
}